
<div 
  class="table-item__td table-item__td-{{i}}"
  *ngFor="let cell of data; let id = index"
  >
  <span *ngIf="!whileEditing">{{cell}}</span>
  <input 
    type="text" 
    class="field__input field__input-{{i}}"
    value="{{cell}}"
    [(ngModel)]="editedData[keys[id]]"
    *ngIf="whileEditing"
    [ngClass]="{'field__input--error': editedData[keys[id]] === '' && formSubmitted }">
</div>
  
<div 
  class="table-item__td table-item__td-{{i}}"
>
  <button
    class="table__action-button"
    *ngFor="let action of actions"
    [style.background-color]="action.color"
    (click)="makeAction(action.actionType)"
  >
    {{action.name}}
  </button>  
</div>
