/* You can add global styles to this file, and also import other style files */

.add-button{
    align-self: flex-start;
    text-align: center;
    background-color: #080;
    color: #fff;
    width: 50px;
    padding: 10px 5px;
    margin-right: 15px;
    font-weight: 500;
    opacity: .85;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

button {
    border: none;
    font-size: 1em;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.field__input {
    &--error {
        border: 1px solid #f00;
    }
    &:focus {
        outline: none;
    }
}